# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules/
server/node_modules/

# Build outputs
dist
dist-ssr

client/.env
server/.env
*.local

# Editor settings
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
