.btn-add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-add-to-cart:hover {
    background-color: #333;
    color: #fff;
  }
  